  <!-- middle header -->
  <div class="header__middle container">
    <!-- logo -->
    <a href="#" class="header__logo-box">
        <img class="header__logo" src="./assets/img/logo.png" alt="">
    </a>
    <!-- user options -->
    <div class="header__user-options">
        <!-- login control -->
        <a href="#" class="link">Login</a>
        <div class="dropdown">
            <div class="dropdown__header">
                <div class="image image--small image--circle" style="background-image: url('./assets/img/PersonalImage.png')">
                </div>
            </div>
            <div class="dropdown__body">
            </div>
        </div>
        <!-- shopping card dropdown -->
        <app-shopping-card></app-shopping-card>


    </div>
</div>
