<ul class="dropdown__items list" *ngFor="let lang of languages">
  <li class="dropdown__item list__item">
      <a href="#" class="link">
          <img class="flag flag-us" src="" alt="">
         {{lang}}
      </a>
  </li>

  <li class="dropdown__item list__item">
      <a href="#" class="link">
          <img class="flag flag-es" src="" alt="">
          Español
      </a>
  </li>
  <li class="dropdown__item list__item">
      <a href="#" class="link">
          <img class="flag flag-fr" src="" alt="">
          Française
      </a>
  </li>
</ul>

