  <!-- Listing Items -->
  <div class="container">
    <!-- filters -->
    <section class="filters">
        <app-filter-list></app-filter-list>
        <app-filter-tags></app-filter-tags>
    </section>
    <!-- Items -->
    <section class="item-listing">
        <!-- tools (sorting , change view , exporting) -->
        <div class="item-listing__tools">
            <select class="form-control" name="" id="">
                <option value="1">Featured</option>
                <option value="2">Price low to high</option>
                <option value="3">Price high to low</option>
                <option value="4">Name</option>
            </select>
            <a class="action-btn" href="#">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <!-- items -->
        <div class="item-listing__items item-listing--3items">
            <!-- medium item -->
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div class="flex-row">
                        <div>
                            <del>$325</del>
                            <span class="lable">$299</span>
                        </div>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="item-medium-1">
                <div class="item-medium-1__alert">Sale</div>
                <div class="item-medium-1__image image" style="background-image: url('img/products/product-grey-1.jpg')">
                    <a href="#" class="item-medium-1__action">Add to Cart</a>
                </div>
                <a href="#">
                    <h4>Photo Camera</h4>
                    <div>
                        <del>$325</del>
                        <span class="lable">$299</span>
                    </div>
                </a>
                <div class="crud-actions">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        <!-- paging -->
        <div class="paging">
            <!-- left arrow -->
            <div class="paging__arrow">
                <i class="fas fa-angle-left"></i>
            </div>
            <!-- page number -->
            <div class="paging__number active">1</div>
            <div class="paging__number">2</div>
            <div class="paging__number">3</div>
            <!-- right arrow -->
            <div class="paging__arrow">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </section>
</div>
